<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div>
        <br>
        <h3>User Details</h3>
    </div>
    <form th:action="@{/admin/user/save}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}" />
        <table class="table">
            <tbody>
            <tr>
                <td><label>E-mail: </label></td>
                <td><input type="email" th:field="*{email}" required class="form-control"/></td>
            </tr>
            <tr>
                <td><label>Password: </label></td>
                <td><input type="password" th:field="*{password}" required minlength="6" maxlength="10" class="form-control"/></td>
            </tr>
            <tr>
                <td><label>First Name: </label></td>
                <td><input type="text" th:field="*{firstName}" required minlength="2" maxlength="20" class="form-control"/></td>
            </tr>
            <tr>
                <td><label>Last Name: </label></td>
                <td><input type="text" th:field="*{lastName}" required minlength="2" maxlength="20" class="form-control"/></td>
            </tr>
            <tr>
                <td><label>Roles: </label></td>
                <td>
                    <div th:each="role: ${listRoles}">
                        <div class="form-check">
                            <input type="checkbox" th:field="*{roles}" th:value="${role.id}" class="form-check-input"/>
                            <label class="form-check-label" th:for="${role.id}" th:text="${role.name}"></label>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>