
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Product</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <<!-- CSS -->
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/products.js}"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<div class="container">
    <!-- Side Nav bar starts -->
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
                    <span class="title">Sports4Us - Test Admin</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin}" href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/user">
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <span class="title">Users</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/category}" href="#">
                    <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                    <span class="title">Categories</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/product}" href="#">
                    <span class="icon"><ion-icon name="cube-outline"></ion-icon></span>
                    <span class="title">Products</span>
                </a>
            </li>
            <li>
                <a href="http://200154725.cs2410-web01pvm.aston.ac.uk/admin/message">
                    <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></span>
                    <span class="title">Message</span>
                </a>
            </li>
            <li>
                <a href="/admin/setting">
                    <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Side Nav bar Ends -->


    <!-- Main Section -->
    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="grid-outline"></ion-icon>
            </div>
            <br>
            <!-- Cards for order types -->
            <div class="cardbox">
                <div class="card" onclick="">
                    <div>
                        <div class="numbers">New Orders</div>
                        <a href="https://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/New"></a>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="person-add-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">Accepted Orders</div>
                        <a href="https://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Accepted"></a>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">Shipping Orders</div>
                        <a href="https://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Shipped"></a>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="boat-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">Completed Orders</div>
                        <a href="https://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Completed"></a>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="checkmark-done-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <div class="numbers">Canceled Orders</div>
                        <a href="https://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Canceled"></a>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="stop-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>
            <hr class="line">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="cardbox" style="height: 1000px; padding-left: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <h1>Add Product</h1>
                        <br>


                        <div class="form">
                            <form class="form1" id="addProductForm" method="post">
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" id="name" name="name" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label for="price">Price:</label>
                                    <input type="number" id="price" name="price" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea id="description" name="description" class="form-control" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="stockLevel">Stock Level:</label>
                                    <input type="number" id="stockLevel" name="stockLevel" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label for="image">Image:</label>
                                    <input type="text" id="image" name="image" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="categories">Categories:</label>
                                    <select id="categories" name="categories" class="form-control" multiple>
                                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">Add Product</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                addProduct();
            });
        </script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>
            // Menu toggle
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.navigation');
            let main = document.querySelector('.main');

            toggle.onclick = function(){
                navigation.classList.toggle('active');
                main.classList.toggle('active');
            }
            // adding hover class over selected category
            let list = document.querySelectorAll('.navigation li');
            function activeLink(){
                list.forEach((item) =>
                    item.classList.remove('hovered'));
                this.classList.add('hovered');
            }
            list.forEach((item) =>
                item.addEventListener('mouseover', activeLink));
        </script>
    </div>
</div>
</html>