<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Category List</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- CSS -->
  <link th:href="@{/css/admin.css}" rel="stylesheet"/>
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div class="container">
  <!-- Side Nav bar starts -->
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon"><ion-icon name="clipboard-outline"></ion-icon></span>
          <span class="title">GameStation - Test Admin</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin}" href="#">
          <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/admin/user">
          <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
          <span class="title">Users</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/category}" href="#">
          <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
          <span class="title">Categories</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/product}" href="#">
          <span class="icon"><ion-icon name="cube-outline"></ion-icon></span>
          <span class="title">Products</span>
        </a>
      </li>
      <li>
        <a th:href="@{/admin/messages}">
          <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></span>
          <span class="title">Messages</span>
        </a>
      </li>
      <li>
        <a th:href="@{/logout}" href="#">
          <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
          <span class="title">Sign Out</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Side Nav bar Ends -->

  <!-- Main Section -->
  <div class="main">
    <div class="topbar">
      <div class="toggle">
        <ion-icon name="grid-outline"></ion-icon>
      </div>
      <br>
      <!-- Cards for order types -->
      <div class="cardbox">
        <div class="card" onclick="">
          <div>
            <div class="numbers">New Orders</div>
            <a href="http://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/New"></a>
          </div>
          <div class="iconBx">
            <ion-icon name="person-add-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">Accepted Orders</div>
            <a href="http://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Accepted"></a>
          </div>
          <div class="iconBx">
            <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">Shipping Orders</div>
            <a href="http://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Shipped"></a>
          </div>
          <div class="iconBx">
            <ion-icon name="boat-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">Completed Orders</div>
            <a href="http://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Completed"></a>
          </div>
          <div class="iconBx">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div class="numbers">Canceled Orders</div>
            <a href="http://200154725.cs2410-web01pvm.aston.ac.uk/admin/order/Canceled"></a>
          </div>
          <div class="iconBx">
            <ion-icon name="stop-circle-outline"></ion-icon>
          </div>
        </div>
      </div>
      <hr class="line">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="cardbox" style="height: 1000px; padding-left: 50px;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <h1>Messages List</h1>

            <br>
<!--            <div>-->
<!--              <a th:href="@{/admin/category/create}" href="#" id="lines"-->
<!--                 class="btn btn-dark">Add Category</a>-->
<!--            </div>-->
            <br>

            <table>
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Show</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="messages : ${messages}">
                <td th:text="${messages.id}"></td>
                <td th:text="${messages.name}"></td>
                <td th:text="${messages.email}"></td>
                <td th:text="${messages.phone}"></td>
<!--                <td th:text="${messages.message}"></td>-->

                <td>
                  <a  class="btn btn-success" id="lines" onclick="showPopup()">Show</a>

                </td>

                <td>
                  <form th:action="@{/admin/messages/__${messages.id}__}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" id="lines" class="btn btn-danger" style= "cursor:pointer" onclick="return confirm('Are you sure you want to delete this message?')">Delete</button>
                  </form>
                </td>

              </tr>
              </tbody>
            </table>

            <script type="module"
                    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
            <script>
              // Menu toggle
              let toggle = document.querySelector('.toggle');
              let navigation = document.querySelector('.navigation');
              let main = document.querySelector('.main');

              toggle.onclick = function () {
                navigation.classList.toggle('active');
                main.classList.toggle('active');
              }
              // adding hover class over selected category
              let list = document.querySelectorAll('.navigation li');

              function activeLink() {
                list.forEach((item) =>
                        item.classList.remove('hovered'));
                this.classList.add('hovered');
              }

              list.forEach((item) =>
                      item.addEventListener('mouseover', activeLink));
            </script>


            <script>
              function showPopup() {
                var popupUrl = "/admin/messageDisplay/list";
                window.open(popupUrl, "Popup", "width=450,height=450");
              }
            </script>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>