/* *{
    border: 1px solid rgb(202, 55, 55);
} */

.nav-item {
    padding-left:10px;
    padding-right: 5px;
  }
.form-control.placeholder-width {
    width: 430px;
}
  
  @media (max-width: 991px) {
    .form-control.placeholder-width {
      width: 550px;
    }
  }
  
  @media (max-width: 767px) {
    .form-control.placeholder-width {
      width: 370px;
    }
    .custom-navbar2 .search-input {
      width: 50%;
    }
  }
  /* .carousel {
    height: 400px;
  } */
  .category a {
    /* background-image: url(''); */
    text-align: center;
    color: yellow;
  }
  .categories li{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 20px;
    height: 250px;
    width: 250px;
    /* background-color: black;
    border-radius: 50%;
    border: 3px; */
    margin-top: 20px;
    margin-left: 20px;
    justify-content: first baseline;
  }
  .categories ul {
    margin-bottom: 50px;

  }
  .categories img{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 50%;
    border: 3px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    justify-content: first baseline;
    object-fit: cover;
    z-index: -100;
  }
  .category_block h2{
    background-color: aliceblue;
  }
  @media (max-width: 991px) {
    .categories li{
        height: 170px;
        width: 170px;
    }

  }
  

  .category_block{
    text-align: center;
    padding-left:10px;
    padding-right: 50px;
    background-color: #000000;
    background: linear-gradient(black, rgb(127, 4, 215));
  }
  .category_block ul{
    text-align: center;
    
    
  }
.video {
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    min-width: 100%;
    height: 150px;
    width: 100%;
    object-fit: cover;
    z-index: -100;
  
  }
    
  /* .navbar.navbar-expand-lg.navbar-light.bg-light{
    background-image: var(--bs-gradient);
    background-color: #212529 !important;

  } */
  /* .container-fluid a{
    color: aliceblue;
  } */
  /* .navbar-toggler-icon feSpecularLighting{
    color: aliceblue;
  } */
  .custom-navbar2{
    background-color: #000000;
   
  }
  .custom-navbar1{
    background-color: #000000;
    background: linear-gradient(black, rgb(127, 4, 215));
  }
  .custom-navbar2 .search-input {
    min-width: 385px;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .custom-navbar2 .search-btn{
    background-color: black;
    color:  rgb(25, 102, 217);
    border: 1px solid rgb(25, 102, 217);

  }
  .custom-navbar2 .search-btn:hover{
    background-color: rgb(25, 102, 217);
    color: #000000;
  }
  /* .custom-navbar1 .navbarNav .nav-item .fas {
    width: 200px;
    height: 20px;
  } */
  /* .carousel .carousel-item img{
    display: inline-block;
    height: 30%;
    width: 100%;
  } */
  .carousel-dark .carousel-item img {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
  }

  @media (max-width: 991px) {
    .carousel-dark .carousel-item img {
      max-width: 100% f;
      height: 5%;
      object-fit: cover;
    }
  }
