body {
    background-color: #f2f2f2;
}

.login {
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #9c9c9c;
    margin-top:50px;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color:#000;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;

    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.registration {
    background-color: #000;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #222;
    background:#fff;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-size: 18px;

}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: #222;
    color: #fff;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

p {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    color:#000;
}

a {
    color: #9b59b6;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/* Style for error message */
.error {
    color: red;
    margin-top: 10px;
}


