<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games Station</title>
<!--    <link rel="stylesheet" type="text/css" href="/style.css">-->
</head>
<body>
<div>
    <div>
        <h1>Update</h1>
    </div>
<form th:action="@{/users/save}" th:object="${user}"
      method="post">
    <input type="hidden" th:field="*{id}" />

            <label>E-mail: </label>
                <input type="email" th:field="*{email}" required />


            <label>Password: </label>
                <input type="password" th:field="*{password}"
                       required minlength="6" maxlength="10"/>

            <label>First Name: </label>
                <input type="text" th:field="*{firstName}"
                       required minlength="2" maxlength="20"/>

            <label>Last Name: </label>
                <input type="text" th:field="*{lastName}"
                       required minlength="2" maxlength="20" />

            <label>Roles: </label>
                <th:block th:each="role: ${listRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.name}" th:value="${role.id}" />
                </th:block>


            <button type="submit">Update</button>
</form>
</div>
</body>
</html>