<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games Station</title>
    <link rel="stylesheet" type="text/css" href="/users.css">
</head>
<body>
<div>

    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <h1>Users List</h1>
    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>E-mail</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUsers}">
            <td data-th="Movie Title" th:text="${user.id}">User ID</td>
            <td data-th="Genre" th:text="${user.email}">E-mail</td>
            <td data-th="Year" th:text="${user.firstName}">First Name</td>
            <td data-th="Gross" th:text="${user.lastName}">Last Name</td>
            <td data-th="Gross" th:text="${user.roles}">Role</td>
            <td>
                <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a>
            </td>
        </tr>

        </tbody>
    </table>


</div>


</body>
</html>