<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Orders</title>
</head>
<body>
<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>email</th>
        <th>total</th>
        <th> status</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.productId}">Product ID</td>
        <td th:text="${order.email}">email</td>
        <td th:text="${order.total}">total</td>
        <td th:text="${order.status}"> status</td>

    </tr>
    </tbody>
</table>
</body>
</html>