<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<table>
  <thead>
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${shoppingCartItems}">
    <td th:text="${item.product.name}"></td>
    <td th:text="${item.product.price}"></td>
    <td><img th:src="${item.product.image}" alt="Product Image"></td>
    <td>
      <form th:action="@{/shoppingcart/{cartItemId}(cartItemId=${item.id})}" method="post">
        <input type="hidden" name="_method" value="put" />
        <input type="hidden" name="productId" th:value="${item.product.id}" />
        <input type="number" name="quantity" th:value="${item.quantity}" min="1" max="10" />
        <button type="submit">Update</button>
      </form>
    </td>
    <td>
      <form th:action="@{/shoppingcart/{cartItemId}(cartItemId=${item.id})}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Remove</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<p>Total: <span th:text="${cartTotal}"></span></p>
</body>
</html>


