<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shopping Cart</title>
</head>
<body>
<h1>Shopping Cart</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Quantity</th>
    <th>Subtotal</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cartItem : ${cartItems}">
    <td th:text="${cartItem.product.name}"></td>
    <td th:text="${cartItem.product.price}"></td>
    <td>
      <img th:src="@{${cartItem.product.image}}" height="50" alt="Product Image"/>
    </td>
    <td>
      <form th:action="@{/shoppingcart/__${cartItem.id}__}" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <input type="number" name="quantity" th:value="${cartItem.quantity}" min="1" th:max="${cartItem.product.stockLevel}" />
        <button type="submit">Update</button>
      </form>
    </td>
    <td th:text="${cartItem.product.price * cartItem.quantity}"></td>
    <td>
      <form th:action="@{/shoppingcart/__${cartItem.id}__}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">Remove</button>
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="4"></td>
    <td><strong>Total Price:</strong></td>
    <td th:text="${totalPrice}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>