<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
</head>
<body>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Contact Us</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>
<body>

<div class="container-fluid border">

    <!-- First Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar1">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/Images/logo.png" alt="" width="200" height="70" class="d-inline-block align-text-top">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About Us</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login/ Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/contact}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shoppingcart}"><i class="fas fa-shopping-cart"></i></i></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/profile}"><i class="fa fa-fw fa-user-circle"></i></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form method="post" th:action="@{/logout}">
                            <input type="submit" class="btn btn-primary" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div id='card' class="animated fadeIn">
        <div id='upper-side'>
            <circle fill="none" stroke="#ffffff" stroke-width="5" stroke-miterlimit="10" cx="109.486" cy="104.353"
                    r="32.53"/>
            </svg>
            <h3 id='status'>
                Your Message has been Sent Successfully
            </h3>
        </div>
        <div id='lower-side'>
            <p id='message'>
                Thanks for contacting us! We will be in touch with you shortly.
            </p>
            <a th:href="@{/}" id="closeBtn">Close</a>
        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-dark text-center text-white footer1">
        <!-- Grid container -->

        <!-- Section: Links -->
        <section class="myfooter">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-5 col-md-4 mb-4 mb-md-0 links">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{/}" class="text-white">Home</a>
                        </li>
                        <li>
                            <a th:href="@{/about}" class="text-white">About Us</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <div class="col-lg-7 col-md-8 mb-4 mb-md-0">
                    <div class="container p-4">
                        <!-- Section: Social media -->
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-facebook-f"></i
                            ></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-twitter"></i
                            ></a>



                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-instagram"></i
                            ></a>



                        </section>
                        <!-- Section: Social media -->

                        <!-- Section: Form -->
                        <section class="">
                            <form action="">
                                <!--Grid row-->
                                <div class="row d-flex justify-content-center">
                                    <!--Grid column-->
                                    <div class="col-auto">
                                        <p class="pt-2">
                                            <strong>Sign up to our newsletter</strong>
                                        </p>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-5 col-12">
                                        <!-- Email input -->
                                        <div class="form-outline form-white mb-4">
                                            <input type="email" id="form5Example21" class="form-control"/>
                                            <label class="form-label" for="form5Example21">Email address</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-auto">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-outline-light mb-4">
                                            Subscribe
                                        </button>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                            </form>
                        </section>
                        <!-- Section: Form -->

                        <!-- Section: Text -->
                        <section class="mb-4">
                            <p>
                                Thank you for visiting our website ! Please check out our products and get the most
                                exclusive and trending games at the best and most affordable prices !

                            </p>
                        </section>
                        <!-- Section: Text -->

                    </div>


                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </section>
        <!-- Section: Links -->



        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="#">GameStation</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>


<script type="text/javascript" th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>