<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>My Orders</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
        integrity="sha512-cpRyCx50/nXc98jKvJFYZq3llHdC8eNCrJthmUhpd5y6YRJl9Jj6U5x6M5zt0U+zi6NjJOG2QvNOfLMz6U7NwQ=="
        crossorigin="anonymous"/>
</head>
<body>
<div class="container">
  <h1 class="text-center my-4">My Orders</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Cost</th>
        <th>Status</th>
        <th>Cancel</th>
      </tr>
      </thead>
      <tbody>
      <!-- Loop through the list of order item and display them in the table -->
      <tr th:each="orderItem : ${order.getOrderItems()}">
        <td><img th:src="@{|${orderItem.getProduct().getImage()}|}" width="100"/></td>
        <td th:text="${orderItem.getProduct().getName()}"></td>
        <td th:text="${orderItem.getPrice()}"></td>
        <td th:text="${orderItem.getQuantity()}"></td>
        <td th:text="${orderItem.getPrice().multiply(orderItem.getQuantity())}"></td>
        <td th:text="${orderItem.getStatus()}"></td>

        <td th:if="${orderItem.getStatus() != 'CANCELLED'}">
          <form role="form" th:action="@{/profile/orders/orderdetail/{order_id}/{item_id}(order_id=${order.orderId}, item_id=${orderItem.getId()})}" method="post">
            <input type="hidden" name="_method" value="PUT"/>
            <input type="hidden" name="status" value="CANCELLED" />
            <button type="submit" class="btn btn-success" onclick="return confirm('Cancelling! Are you sure ?')">Cancel Product</button>
          </form>
        </td>


      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-gb49JzZ8+fcI9pMstJk6z/ZpLj8T6W+THeCHG51dJjUZOOq3sWdd9v+ECnNyxMxT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"
        integrity="sha512-ZIz/xvupNYrjZLtlr+8WY9P+dI4zi4O7V0H0hWw7V5v5OaS5V5/S61iQ2tX/NL1C0BpqE+WBJ+s3w3iKdnb0tw=="
        crossorigin="anonymous"></script>
</body>
</html>
