<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Contact Us</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>
<body>

<div class="container-fluid border">

    <!-- First Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar1">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/Images/logo.png" alt="" width="200" height="70" class="d-inline-block align-text-top">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about}">About Us</a>
                    </li>

                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{/login}">Login/ Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/contact}">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shoppingcart}"><i class="fas fa-shopping-cart"></i></i></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/profile}"><i class="fa fa-fw fa-user-circle"></i></a>
                    </li>

                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form method="post" th:action="@{/logout}">
                            <input type="submit" class="btn btn-primary" value="Logout">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!----------Contact form-------->
    <div class="contact-section">
        <div class="contact-whitebox">
            <form class="contact100-form validate-form" id="contact-form" method="post" th:action="@{/submit-form}"
                  th:object="${contact}">
                    <span class="contact100-form-title">
                        Contact Us
                    </span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Your Name</span>
                    <input class="input100" type="text" name="name" placeholder="Enter your name" th:field="*{name}"
                           required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Email Address</span>
                    <input class="input100" type="email" name="email" placeholder="Enter your email addess"
                           th:field="*{email}" required>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid Contact Number is required">
                    <span class="label-input100">Contact Number</span>
                    <input class="input100" type="text" placeholder="Enter a Contact Number" ame="phone"
                           th:field="*{phone}" required pattern="^\+44\s\d{4}\s\d{6}$">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Message is required">
                    <span class="label-input100">Message</span>
                    <textarea class="input100" name="message" placeholder="Your message here..." th:field="*{message}"
                              required></textarea>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn" type="submit" value="Send">
                                <span>
                                    Submit
                                    <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                                </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-dark text-center text-white footer1">
        <!-- Grid container -->


        <!-- Section: Links -->
        <section class="myfooter">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-5 col-md-4 mb-4 mb-md-0 links">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{/}" class="text-white">Home</a>
                        </li>
                        <li>
                            <a th:href="@{/about}" class="text-white">About Us</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <div class="col-lg-7 col-md-8 mb-4 mb-md-0">
                    <div class="container p-4">
                        <!-- Section: Social media -->
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-facebook-f"></i
                            ></a>

                            <!-- Twitter -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-twitter"></i
                            ></a>

                            <!-- Instagram -->
                            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                            ><i class="fab fa-instagram"></i
                            ></a>

                        </section>
                        <!-- Section: Social media -->

                        <!-- Section: Form -->
                        <section class="">
                            <form action="">
                                <!--Grid row-->
                                <div class="row d-flex justify-content-center">
                                    <!--Grid column-->
                                    <div class="col-auto">
                                        <p class="pt-2">
                                            <strong>Sign up to our newsletter</strong>
                                        </p>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-5 col-12">
                                        <!-- Email input -->
                                        <div class="form-outline form-white mb-4">
                                            <input type="email" id="form5Example21" class="form-control"/>
                                            <label class="form-label" for="form5Example21">Email address</label>
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-auto">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-outline-light mb-4">
                                            Subscribe
                                        </button>
                                    </div>
                                    <!--Grid column-->
                                </div>
                                <!--Grid row-->
                            </form>
                        </section>
                        <!-- Section: Form -->

                        <!-- Section: Text -->
                        <section class="mb-4">
                            <p>
                                Thank you for visiting our website ! Please check out our products and get the most
                                exclusive and trending games at the best and most affordable prices !

                            </p>
                        </section>
                        <!-- Section: Text -->

                    </div>


                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2023 Copyright:
                    <a class="text-white" href="#">GameStation</a>
                </div>
                <!-- Copyright -->
            </div>
        </section>
        <!-- Section: Links -->

        <!-- Grid container -->

    </footer>
    <!-- Footer -->

</div>
</body>
</html>

<!-- Show Success message when message is sent successfully -->
<script>
    const form = document.getElementById("contact-form");
    form.addEventListener("submit", (event) => {
        event.preventDefault();
        fetch("/submit-form", {
            method: "POST",
            body: new FormData(form),
        })
            .then((response) => {
                if (response.ok) {
                    // Redirect to the success page
                    window.location.href = "/successMessage";
                }
            })
            .catch((error) => {
                console.error(error);
            });
    });
</script>

